body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
}

#menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

#menu button {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    background: gray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#menu button:hover {
    background: lightgray;
    color: black;
}

/* Build Menu Grid */
.grid-panel {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    bottom: 0px;
    width:80%;
    margin-top: auto;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    
    transition: transform 0.3s ease;
}
.grid-panel.hidden {
    transform: translate(-50%, 100%);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
    gap: 10px;
}
.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.grid-item.selected {
    background-color: #a0d1ff;
    border-color: #007bff;
}
.controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.controls button {
    margin-left: 5px;
}
.toggle-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}